<a href="https://colab.research.google.com/github/ashibullah/Romanian-Bangla-Sentiment-Analysis-NLP/blob/main/RomanianBanglaSentimentAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install datasets --upgrade

In [ ]:
!pip install nltk

In [20]:
import nltk
nltk.download('punkt_tab')  # For tokenizer

[nltk_data] Downloading package punkt_tab to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt_tab.zip.

True

In [10]:
from datasets import load_dataset
from textblob import TextBlob
import re
from nltk.tokenize import word_tokenize
import pandas as pd

In [ ]:
df = load_dataset("aplycaebous/BnSentMix" , split = "train")

In [5]:
def clean_text(text):
    # Remove URLs
    text = re.sub(r'https?://\S+|www\.\S+', '', text)
    # Remove punctuation
    text = re.sub(r'[^\w\s]', '', text)
    return text

In [6]:
def correct_text(text):
    return str(TextBlob(text).correct())

In [7]:
print(df[20])

{'Sentence': 'Vloi bt cash out korte 15 takar jaigai 18.50 paisa nei', 'Label': 3}

In [25]:
# Create DataFrame
df = pd.DataFrame(df)
# Convert 'Sentence' column to lowercase
df['Sentence'] = df['Sentence'].str.lower()
print(df)

                                                Sentence  Label  \
0      youtube ar volg gula boring hoia jaitase din d...      3
1      your video making camera work is really good i...      3
2      you made me nostalgic college life a ei dokan ...      3
3      workshop ta engaging but resources ta insuffic...      3
4                      win hoy nay but anek valo khelecu      3
...                                                  ...    ...
20010  1 march use kortasi pocof5 kono problem nai ga...      0
20011                       1 day beshi stay kora jae na      0
20012            1 boro na 2 boro tushar vai er mon boro      0
20013               1 boro na 2 boro sam vai er mon boro      0
20014  058 pcbbd er depression boys mone hoillo minar...      0

                                                  Tokens
0      [youtube, ar, volg, gula, boring, hoia, jaitas...
1      [your, video, making, camera, work, is, really...
2      [you, made, me, nostalgic, college, life, a, e...
3      [workshop, ta, engaging, but, resources, ta, i...
4              [win, hoy, nay, but, anek, valo, khelecu]
...                                                  ...
20010  [1, march, use, kortasi, pocof5, kono, problem...
20011               [1, day, beshi, stay, kora, jae, na]
20012  [1, boro, na, 2, boro, tushar, vai, er, mon, b...
20013    [1, boro, na, 2, boro, sam, vai, er, mon, boro]
20014  [058, pcbbd, er, depression, boys, mone, hoill...

[20015 rows x 3 columns]

In [26]:
# remove urls
df['Sentence'] = df['Sentence'].apply(clean_text)
print(df)

                                                Sentence  Label  \
0      youtube ar volg gula boring hoia jaitase din d...      3
1      your video making camera work is really good i...      3
2      you made me nostalgic college life a ei dokan ...      3
3      workshop ta engaging but resources ta insuffic...      3
4                      win hoy nay but anek valo khelecu      3
...                                                  ...    ...
20010  1 march use kortasi pocof5 kono problem nai ga...      0
20011                       1 day beshi stay kora jae na      0
20012            1 boro na 2 boro tushar vai er mon boro      0
20013               1 boro na 2 boro sam vai er mon boro      0
20014  058 pcbbd er depression boys mone hoillo minar...      0

                                                  Tokens
0      [youtube, ar, volg, gula, boring, hoia, jaitas...
1      [your, video, making, camera, work, is, really...
2      [you, made, me, nostalgic, college, life, a, e...
3      [workshop, ta, engaging, but, resources, ta, i...
4              [win, hoy, nay, but, anek, valo, khelecu]
...                                                  ...
20010  [1, march, use, kortasi, pocof5, kono, problem...
20011               [1, day, beshi, stay, kora, jae, na]
20012  [1, boro, na, 2, boro, tushar, vai, er, mon, b...
20013    [1, boro, na, 2, boro, sam, vai, er, mon, boro]
20014  [058, pcbbd, er, depression, boys, mone, hoill...

[20015 rows x 3 columns]

In [ ]:
# df = df['Sentence'].apply(correct_text)
# avoiding this

In [27]:
# Tokenize using NLTK
df['Tokens'] = df['Sentence'].apply(word_tokenize)

print(df[['Label']])

       Label
0          3
1          3
2          3
3          3
4          3
...      ...
20010      0
20011      0
20012      0
20013      0
20014      0

[20015 rows x 1 columns]